<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>varify</display-name>
    <servlet-name>varify</servlet-name>
    <servlet-class>varify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>varify</servlet-name>
    <url-pattern>/varify</url-pattern>
  </servlet-mapping>
  <display-name>Projectt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>varifyy</display-name>
    <servlet-name>varifyy</servlet-name>
    <servlet-class>varifyy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>varifyy</servlet-name>
    <url-pattern>/varifyy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vari2</display-name>
    <servlet-name>vari2</servlet-name>
    <servlet-class>vari2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vari2</servlet-name>
    <url-pattern>/vari2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controlerpoj</display-name>
    <servlet-name>controlerpoj</servlet-name>
    <servlet-class>controlerpoj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlerpoj</servlet-name>
    <url-pattern>/controlerpoj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controlerproj</display-name>
    <servlet-name>controlerproj</servlet-name>
    <servlet-class>controlerproj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlerproj</servlet-name>
    <url-pattern>/controlerproj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controlerprojj</display-name>
    <servlet-name>controlerprojj</servlet-name>
    <servlet-class>controlerproj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlerprojj</servlet-name>
    <url-pattern>/controlerprojj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regicontroler</display-name>
    <servlet-name>regicontroler</servlet-name>
    <servlet-class>regicontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regicontroler</servlet-name>
    <url-pattern>/regicontroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>varifyyy1</display-name>
    <servlet-name>varifyyy1</servlet-name>
    <servlet-class>varifyyy1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>varifyyy1</servlet-name>
    <url-pattern>/varifyyy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
</web-app>